@import "./css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "./css/main-bar.css";
@import "./css/side-bar.css";

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}
